<div class="product-header">
    <div class="container">
        <div class="breadcrumb">
            <a href="#">Terrenos en venta</a>
            <span>&rsaquo;</span>
            <div>{{ page.header.custom.location}}</div>
        </div>
        <div class="product-header--name">{{ page.header.custom.name }}</div>
        <div class="product-header--location">{{ page.header.custom.location }} </div>
        <div class="product-header--details">
            <span>{{ page.header.custom.dimension}}m<sup>2</sup></span>
            <span>{{ page.header.custom.groundType}}</span>
        </div>
    </div>
</div>
