{% extends 'partials/base.html.twig' %}

{% block content %}
    <header class="main-header" style="background-image: url({{ header.custom.coverImage }});">
        <div class="container">
            <div class="main-header--content">
                <{{ header.custom.htmlTag }} class="main-header--title">
                    <span class="main-header--intro">{{ header.custom.introField }}</span>
                    <span class="main-header--text">{{ header.custom.textField }}</span>
                </{{ header.custom.htmlTag }}>
            </div>
        </div>
    </header>

    <section class="product-list">
        <div class="container">
            <h2 class="product-list--title">{{page.content}}</h2>
            <div class="product-list--content">
                 {% for product in page.find('/products').children %}
                    {% include '/partials/product/grid-item.html.twig' with {'gridItem': product} %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
